@charset "UTF-8";

body {
    background-color: rgb(193, 245, 193);
    font-family: Arial, Helvetica, sans-serif;

}
h1{
color: rgb(7, 146, 7);
}

h1#principal{
    text-align: center;
    background-color: rgb(7, 146, 7);
    color: white;
}
h2 {
color: rgb(82, 165, 82);
}

.basico{
color: rgb(4, 252, 4);
font-weight: bold;
}

.intermediario{
    color: rgb(206, 206, 54);
}

.avancado {
    color: rgb(252, 4, 4);
}

.destaque {
    background-color: rgb(235, 235, 93);
}